<script id="list-container">
  document.getElementById("list-container").outerHTML = Z.todos
    .map(function(todo, index) {
      return (
        "<div><span>" +
        todo +
        "</span><button onclick=removeItem(" +
        index +
        ");>remove</button></div>"
      );
    })
    .join("");

  function removeItem(index) {
    console.time("components/todo-list.html");
    Z.todos.splice(index, 1);
    Z.update({
      todos: Z.todos
    });
  }
  console.timeEnd("components/todo-list.html");
</script>
