<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .products .product {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1em;
  }

  .products .product h2 {
    margin-top: 0;
    margin-bottom: auto;
  }

  .products .product img {
    vertical-align: middle;
    margin: 1em 0;
  }
</style>
<template id="template-phones">
  {{~it:value:index}}
  <div class="product" onclick="Z.update({view: Z.products[{{=index}}]})">
    <h2>{{=value.name}}</h2>
    <img src="images/{{=value.image}}" height="180" />
    <span>{{=value.price}} €</span>
  </div>
  {{~}}
</template>
<div id="output-phones" class="products"></div>
<script>
  !(function() {
    function preSort() {
      Z.products.categories = [];
      Z.products.forEach(function(product) {
        if (product.type && !~Z.products.categories.indexOf(product.type)) {
          Z.products.categories.push(product.type);
        }
      });
    }
    preSort();

    var template = doT.template(
      document.getElementById("template-phones").innerHTML
    );
    document.getElementById("output-phones").innerHTML = template(Z.products);
  })();
</script>
